
.md-header-nav__button.md-logo img{
    width: 90px;
}

@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url(assets/proximaNova.woff);
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

 header {
    border-bottom: 1px solid #ffc715;
}
